:root {
  --primary-color: #000C7D   ;
  --secondary-color: #1B5996 ;
  --accent1-color: #871B96;
  --accent2-color: white;
  --title-color: #04438F;
  --letter-coloruno: #5c0000;
  --letter-colordos: #00291C;
  --letter-colortres: #958F95;
  --extra-color: #FF5BB3;
  --heading-font: "IM Fell French Canon SC", "Rode Rage";
  --paragraph-font: "Lato", "Helvetica", "sans-serif";
  --paragraph-font-two: "Bahnschrift SemiBold";
  --nav-text-premiere: "Techno Hideo";
  --headline-color-on-white: #396E94;
  --headline-color-on-color: white;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #B3126A;
  --text-photoedit: #19E9FF;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --background-color-premiere: #00946C;
}

  body {
    max-width: 1920px;
    background-color: var(--accent1-color);
  }

  img {
    width: 20%;
    height: auto;
  }

  p {
    font-family: var(--paragraph-font-two);
  }

  header {
    background-color: var(--nav-background-color);
    text-align: center;
    font-size: 50px
  }

  h1 {
    font-family: var(--heading-font);
  }

  footer {
    background-color: var(--letter-coloruno);
  }

  p .cd {
    font-style: var(--nav-text-premiere);
  }